<div class="section4">
    <div class="contact-container">
        <h1>Entrez en contact</h1>     
        <div class="contact-options">
            <a href="mailto:goudard.margot@hotmail.com">   
            <div class="contact-option">
                <div class="icon-container">
                    <img src="assets/mail.png" alt="Email"/>
                </div>
                <h3>EMAIL</h3>
                goudard.margot&#64;hotmail.com
            </div>
            </a>
            <a href="https://www.linkedin.com/in/margot-goudard-2515a6223/">
            <div class="contact-option">
                <div class="icon-container">
                    <img src="assets/link.png" alt="Linkedin"/>
                </div>
                <h3>LINKEDIN</h3>
                margot-goudard
            </div>
            </a>

            <a href="tel:+33786656363">
            <div class="contact-option">
                <div class="icon-container">
                    <img src="assets/iconetel.png" alt="Phone"/>
                </div>
                <h3>TÉLÉPHONE</h3>
                +33 786656363
            </div>
        </a>
        </div>

        <p>N'hésitez pas à me contacter pour toute question ou opportunité professionnelle !</p>
        <a href="assets/CV.pdf" class="cv-download-btn" download>Télécharger mon CV</a>
    </div>
</div>
