<div class="section4">
    <div class="contact-container">
    <h2>Contactez-moi</h2>
    <p>Vous pouvez me contacter via les moyens suivants :</p>
    <ul>
        <li>Téléphone : <a href="tel:+33786656363">+33 786656363</a></li>
        <li>Email : <a href="mailto:goudard.margot@hotmail.com">goudard.margot&#64;hotmail.com</a></li>
        <li>LinkedIn : <a href="https://www.linkedin.com/in/margot-goudard-2515a6223/" target="_blank">margot-goudard</a></li>
    </ul>
    <p>N'hésitez pas à me contacter pour toute question ou opportunité professionnelle !</p>
    <a href="assets/CV.pdf" class="cv-download-btn" download>Télécharger mon CV</a>
</div>
</div>
