.section4{
	width : 100%;
	height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.contact-container {
    width: 50%;
    padding: 20px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h2, .contact-container p, .contact-container ul, .contact-container a {
    margin-bottom: 20px;
}

.contact-container ul {
    list-style: none;
    padding: 0;
}

.contact-container li {
    margin-bottom: 10px;
}

.contact-container li a, .contact-container li a:visited {
    color:  #b0a092;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    word-wrap: break-word;
}

.contact-container a:hover, .contact-container a:active {
    text-decoration: underline;
    color: #b0a092;
}

.cv-download-btn {
    display: inline-block;
    background-color: #b0a092; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.cv-download-btn:hover {
    background-color: #f9f9f9;
}


h2 {
    font-size: 18px;
    @media (max-width: 600px) {
        font-size : 16px
    }
}