.section4 {
    text-align: center;
    padding: 50px;
    background-color: #fff; /* ou toute autre couleur de fond que vous préférez */
}

.contact-container {
    width: 80%;
    margin: auto;
    @media (max-width: 600px) {
        width : 80%;
    }
}

.contact-options {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    flex-wrap: wrap; 
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center; /* Centrer les éléments verticalement */
    }
}

.contact-option {
    flex: 1; /* Cela permet à chaque option de s'étendre pour occuper l'espace disponible */
    width: 100%; /* Cela garantit que chaque option ne devienne pas trop petite */
    padding: 20px;
    background-color: #b0a092;
    border-radius: 10px;
    box-sizing: border-box; /* Cela s'assure que le padding et la bordure sont inclus dans la largeur */
    margin-bottom: 20px; /* Ajoute un peu d'espace en bas de chaque option si elles s'enroulent */
}

.icon-container {
    margin: auto;
    width: 50px; /* ou la taille de votre icône */
    height: 50px; /* ou la taille de votre icône */
    margin-bottom: 20px;
}

.contact-option img {
    max-width: 100%;
    height: auto;
}

.contact-option h3 {
    color: white; /* La couleur du titre de l'option de contact */
}

.contact-option p {
    color: #666; /* Couleur du texte des options de contact */
}

.cv-download-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #b0a092; /* Couleur de fond du bouton de téléchargement du CV */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.cv-download-btn:hover {
    background-color: white;
    color: #b0a092;
}

img[alt="Email"] {
    width: 100%
}

img[alt="Linkedin"] {
    width: 90%
}

img[alt="Phone"] {
    width: 60%
}

p {
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
    display: flex; /* Permet d'utiliser flexbox pour le centrage */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 25%; /* Assure que le lien remplit le conteneur */
    height: 25%; /* Assure que le lien remplit le conteneur */
    @media (max-width: 768px) {
        width: 90%; /* Assure que le lien remplit le conteneur */
        height: 90%; /* Assure que le lien remplit le conteneur */
    }
}

a:hover, a:focus {
    cursor: pointer;
}

h3 {
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}