$color-principal: #5B7466;

footer {
    margin-bottom: 0; // Coller le footer en bas
    width: 100%;
    background-color: $color-principal; // Optionnel : Fond pour le footer
  }
  
    .contacts {
      width: 80%;
      font-size: 18px;
      padding-top: 1%;
      padding-bottom: 1%;
      color: #fff; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
  
      @media (max-width: 768px) {
      flex-direction: column;
        float: none;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-left: 0;
        font-size: 14px;
        padding: 0;
      } 
      > div {
          flex: 1; // Donnez à chaque div une flexibilité égale
          text-align: center; // Centrez le texte de chaque div
  
          @media (max-width: 768px) {
              padding-top: 1%;
              margin-bottom: 9px; // Ajoutez de la marge en bas pour chaque div sur les petits écrans
          }
      }
  }
  
  .contacts a, .contacts a:visited {
      color: white; /* Cela cible seulement les liens à l'intérieur de .contacts */
  }
  
  img[alt="Téléphone"] {
    width: 4%;
    height: auto;
    @media (max-width: 768px) {
        width: 2%;
      }
  }

  img[alt="Email"] {
    width: 9%;
    height: auto;
    @media (max-width: 768px) {
        width: 3%;
      }
  }

img[alt="Linkedin"] {
    width: 24%;
    height: auto;
    @media (max-width: 768px) {
        margin-bottom: 0;
        width: 9%;
      }
}