<footer>
    <div class="contacts">
        <div class="contact">
        CONTACT : 
    </div>
        <div class="mail">
            <img src="assets/iconem.png" alt="Email"/>  goudard.margot&#64;hotmail.com  
        </div>
        <div class="tel">
            <img src="assets/iconetel.png" alt="Téléphone"/>  07.86.65.63.63 
        </div>
        <div class="linkedin">
            <img src="assets/linkedin.png" alt="Linkedin"> <a href="https://www.linkedin.com/in/margot-goudard-2515a6223/" target="_blank">margot-goudard</a>
        </div>
    </div>
</footer>