nav {
    height: 50px; /* Assurez-vous qu'il n'y a pas de padding/margin supplémentaire */
    width: 100%;
    top: 0;
    box-sizing: border-box;
    display: flex; /* Utilisez flexbox pour aligner les éléments */
    align-items: center; /* Alignez les éléments verticalement au centre */
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    transition: background-color 0.5s ease;
    z-index: 1000;
  }

  .logo {
    flex: 1; /* Donnez de la flexibilité pour permettre l'ajustement de la taille */
    display: flex; /* Utilisez flexbox ici aussi pour centrer l'image du logo */
    align-items: center; /* Centrez verticalement l'image du logo */
    padding-left: 1%; /* Ajoutez du padding si nécessaire */
}

ul#menu {
	flex: 3; /* Ajustez la flexibilité pour occuper l'espace restant */
    display: flex; /* Utilisez flexbox pour aligner les liens du menu */
    justify-content: space-between; /* Alignez les éléments du menu à la fin (à droite) */
    list-style-type: none; /* Enlevez les puces de la liste */
    margin: 0; /* Enlevez la marge par défaut de la liste */
    padding: 0; 
    padding-right : 5%;
    @media (max-width: 768px) {
        padding-right : 5%;
    } 
}

/*stylisation du texte du menu*/
ul#menu li a {
	color: #b0a092; /*couleur du texte*/
	text-decoration : none; /*enlève les traits de lien*/
	border-bottom: 1px solid #b0a092; /*soulignage par un trait d'épaisseur 1px de couleur blanche*/
	padding : 8px; 
    @media (max-width: 768px) {
        font-size: 12px;
    } 
}

/*changment de style unique pour l'onglet cv du menu*/
ul#menu li a.accueil {
	color : black;
	border-bottom: 1px solid black;
}

img[alt="Logo"] {
    width: 40%;
    height: auto;
    @media (max-width: 768px) {
        width: 60%;
      }
  }


  .hamburger {
    display: none; /* Cachez par défaut l'icône hamburger */
    font-size: 24px; /* Taille de l'icône hamburger */
    background: none;
    border: none;
    color: #AC967F; /* Couleur de l'icône */
  }
  
  .hidden {
    display: none; /* Cachez le menu par défaut */
  }
  
  @media (max-width: 600px) { /* Utilisez une valeur de breakpoint qui convient à vos besoins */
    .hamburger {
      display: block; /* Affichez l'icône hamburger sur petits écrans */
    }
  
    ul#menu {
      display: none; /* Assurez-vous que le menu est caché */
      flex-direction: column; /* Les éléments du menu doivent s'afficher en colonne */
      width: 100%; /* Le menu déroulant doit prendre toute la largeur */
    }
  
    ul#menu.open {
        display: flex; /* Affiche le menu */
        flex-direction: column; /* Affiche les éléments du menu en colonne */
        position: absolute; /* Permet au menu de s'afficher par-dessus le contenu */
        background-color: #fff; /* Choisissez une couleur de fond appropriée */
        width: auto; /* Le menu déroulant prend toute la largeur */
        top: 50px; /* Ajustez en fonction de la hauteur de votre barre de navigation */
        right: 0; /* Aligné à gauche */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
        border-radius: 10px;
      }

      
    img[alt="Logo"] {
        width: 30%;
     }

     ul#menu.open li a {
        border-bottom: none; 
    }

    ul#menu.open li {
        padding-top: 8px;
        margin-bottom: 8px;
    }
   
  }

  nav.transparent {
    background-color: rgba(255, 255, 255, 0.5); 
  }

