<nav>
    <div class="logo">
        <img src="assets/logo.png" alt="Logo"/>
    </div>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
    <ul id="menu" #menu class="hidden">
        <li><a (click)="setCurrentSection('profil')"><strong>Profil</strong></a></li>
        <li><a (click)="setCurrentSection('education')"><strong>Etudes</strong></a></li>
        <li><a (click)="setCurrentSection('competences')"><strong>Compétences</strong></a></li>
        <li><a (click)="setCurrentSection('experiences')"><strong>Expériences</strong></a></li>
        <li><a (click)="setCurrentSection('projets')"><strong>Projets</strong></a></li>
        <li><a (click)="setCurrentSection('contacts')"><strong>Contacts</strong></a></li>
    </ul>
</nav>