<div class="composant-profil" id="profil">
<div class="section1">
    <h1>A PROPOS DE MOI</h1>
<div class="bloc1">
    <div class="image-et-liens">
    <div class="image">
        <img src="assets/portrait_cv.jpg" alt="photo" width="100%"/>
    </div>
    <div class="liens-sociaux">
        <a href="https://github.com/margotgoudard" target="_blank">
            <img src="assets/git.png" alt="Git" width="27px"/> <!-- Icône GitHub -->
        </a>
        <a href="https://www.linkedin.com/in/margot-goudard-2515a6223/" target="_blank">
            <img src="assets/link2.png" alt="LinkedIn" width="25px"/> <!-- Icône LinkedIn -->
        </a>
    </div>
</div>
    <div class="bloc2">
        <div class="conteneur">
            Bonjour ! Je m'appelle Margot Goudard, 21 ans, et je suis passionnée par le développement web. Actuellement élève en 4ème année d'école d'ingénieurs spécialité Informatique et Gestion à Polytech Montpellier, je suis à la recherche d'un <b>stage de trois mois</b> à partir de juin 2024 sur Montpellier ou dans ses environs. Mon objectif est de rejoindre une équipe en tant que <b>développeuse web fullstack</b>, où je pourrais non seulement apporter mes compétences, mais aussi apprendre et m'adapter à différentes technologies.
        </div>
    </div>
</div>
</div>

