  .section1 {
    width: 100%; /* La section prend l'intégralité de la largeur de l'écran */
    height: 100vh; /* La section prend toute la hauteur de la fenêtre de visualisation */
    background-color: #b0a092;
    @media (max-width: 600px) {
	    height : 100vh;
      }
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  color: white;
  padding-top: 5%;
  @media (max-width: 600px) {
    font-size: 20px;
    padding-top: 20%;
  }
}
/*stylisation bloc1*/
.bloc1 {
    display: flex;
    flex-direction: row;
	margin-left: 15%;
  margin-top: 5%;
	width : 80%;
	height : 50%;
  @media (max-width: 600px) {
        flex-direction: column; /* Change la disposition pour mettre le contenu en colonne */
        align-items: center; /* Centre les éléments dans le bloc */
        width: 100%; /* Utilise toute la largeur disponible */
        height: auto; /* Ajuste la hauteur automatiquement en fonction du contenu */
        margin-left: 0;
        margin-top: 2%;
    }
}

/*stylisation image*/
.image {
	width : 100%;
	clip-path:ellipse(50% 35%); /*forme de rond*/
	margin : auto;
	margin-bottom: 0; 
  opacity: 0;  
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.4s;
}


/*stylisation bloc2*/
.bloc2 {
  display: flex;
  margin-top: 3%;
	width : 50%;
  height: 100%;
  margin-right : 15%;
    background-color: #b0a092;
    border-radius: 10px;
    padding :20px;
    @media (max-width: 600px) {
        width : 80%;
        margin-right: 33%;
        margin:auto;
        padding :2px;
      }

}

/*stylisation contenu bloc2*/
.conteneur {
	padding : 2%;
	font-size: 16pt;
    border-radius: 10px;
	color : white;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.4s;
    padding-left: 20px;
    @media (max-width: 600px) {
        font-size: 12px;
        padding-left : 4px
      }

} 

/*animation apparition d'une position à une autre*/
@keyframes animation {
	from {
	  margin-left: 100%;
	  width: 100%;
	}
  
	to {
	  margin-left: 0;
	  width: 100%;
	}
  }
 
.arrow {
    margin-top: 2%;
    padding-right:0px;
    animation: bounce 2s infinite;
    transform: translateX(-50%);
}

.texte {
    width: 80%;
    margin-top: 10%;
    font-size: 18px;
    @media (max-width: 600px) {
        font-size: 14px;
        padding-right: 10px;
      }
}


img[alt="photo"] {
    width: 100%
}

@keyframes bounce {
    0%, 100% {
        top: 90px; /* Position initiale */
    }
    50% {
        top: 80px; /* La flèche 'rebondit' vers le haut */
    }
}


@keyframes moveLeftToRight {
    from {
      transform: translateX(-10%); 
    }
    to {
      transform: translateX(0); 
    }
}

.image-et-liens {
    display: flex;
    flex-direction: column; /* Organise les enfants en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    width: 20%; /* ou la largeur souhaitée */
    margin: auto; 
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 0.4s;
}

.liens-sociaux {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espace entre les icônes */
    margin-top: 0; /* Réduire ou éliminer la marge au-dessus des liens */
}

@media (max-width: 600px) {
  .image {
     min-width: 50%; /* Ajuste la largeur à 50% pour les petits écrans */
  }
}