<div class="composant-accueil" id="accueil" @fadeInOut (click)="toggleDisplay()">
    <app-accueil></app-accueil>
  </div>

<div class="composant-profil" id="profil">
<div class="section1">
    <div class="intro">
        <div class="arrow">  <img src="assets/flèche.png" alt="flèche" width="100%"/></div>
        <div class="texte"> Ça c'est moi : Margot Goudard, 21 ans, étudiante ingénieure en Informatique et Gestion à la recherche d'un stage
        </div> 
    </div>
<div class="bloc1">
    <div class="image">
        <img src="assets/portrait_cv.jpg" alt="photo" width="100%"/> <!--Insertion image-->
    </div>
</div>
<div class="bloc2">
    <div class="conteneur">
        <b>Quoi ?</b> Développement web/mobile Fullstack<br> <!-- <br>=retour à la ligne-->
        <b>Technologies ?</b>     Ouverte à tout ! <br>
        <b>Quand ?</b>     A partir du 1er juin 2024 <br>
        <b> Durée ?</b>     3 mois <br>
        <b>Où ?</b>     Montpellier et ses alentours 
    </div>
</div>
</div> 
<app-education></app-education>
