  .section1 {
    width: 100%; /* La section prend l'intégralité de la largeur de l'écran */
    height: 100vh; /* La section prend toute la hauteur de la fenêtre de visualisation */
    background-color: white;
    @media (max-width: 600px) {
	    height : 80vh;
      }
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  padding-top: 5%;
}
/*stylisation bloc1*/
.bloc1 {
    display: flex;
	margin-left: 15%;
  margin-top: 5%;
	background-color: white;
	width : 80%;
	height : 50%;
    @media (max-width: 600px) {
        width : 30%;
	    height : 40%;
      }
}

/*stylisation image*/
.image {
	width : 20%;
	clip-path:ellipse(50% 35%); /*forme de rond*/
	margin : auto; /*met au centre du bloc*/
     
}

/*stylisation texte bloc*/
.etudiante {
	display: flex; /*permet d'aligner le texte au centre*/
	justify-content: center;
}

/*stylisation bloc2*/
.bloc2 {
	width : 50%;
  height: 100%;
  margin-right : 15%;
    background-color: #b0a092;
    border-radius: 10px;
    padding :20px;
    @media (max-width: 600px) {
        width : 80%;
        margin-right: 33%;
        margin:auto;
        padding :2px;
      }

}

/*stylisation contenu bloc2*/
.conteneur {
    display: flex;
    flex-direction: column;
	padding : 2%;
	font-size: 16pt;
    border-radius: 10px;
	color : white;
	animation-name: animation; /*attribution d'une animation*/
	animation-duration: 2s; /*durée de l'animation*/
    padding-left: 20px;
    @media (max-width: 600px) {
        font-size: 12px;
        padding-left : 4px
      }

} 

/*animation apparition d'une position à une autre*/
@keyframes animation {
	from {
	  margin-left: 100%;
	  width: 100%;
	}
  
	to {
	  margin-left: 0;
	  width: 100%;
	}
  }
 

/*stylisation texte*/
.profil_perso{
	font-size : 20px; /*taille police*/
	text-align : justify; /*mise en page justifié*/
	margin-left : 5%;
	margin-right : 5%;
}


/*stylisation liste*/
ul#competences1{ 
margin-left : 6%;
list-style-type: square; /*puce forme carrée*/
display: flex; /*permet d'espacer les éléments de la liste*/
justify-content: space-between;
margin-right : 50%;
}

/*stylisation éléments liste*/
ul#competences1 li {
	font-size : 18px; 
		float : left;
}

/*stylisation liste*/
ul#competences2{ 
	margin-left : 6%;
	list-style-type: square;
	display: flex;
	justify-content: space-between;
	margin-right : 25%;
	}
	
/*stylisation éléments liste*/
ul#competences2 li {
		font-size : 18px;
		float : left;
	}

/*stylisation section3*/
.section3{
	width : 100%;
	height : 100%;
	background-color : #b0a092;
}


/*stylisation titre*/
.section3 h1 {
	color : white ;
	margin-top : 3%;
}

/*stylisation tableau*/
table {
	border: solid white 1px; /*type de bordure tableau*/
	margin : auto;
}

/*stylisation cellules*/
td {
	border: solid white 1px;
	border-collapse : collapse;/*bordure des cellules*/
	padding : 1%;
}

.tableau {
	color : white;
	padding-top : 5%;
}

/*texte aligné pour cellules et titres*/
th, td{
	text-align : center;
}

/*modification puce pour les listes*/
ul#intersport, ul#lidl, ul#ostréicole, ul#cci {
	list-style-type: circle;
}

/*stylisation section4*/
.section4 {
	width : 100%;
	height : 100%;
}


/*stylisation titre*/
.section4 h1 {
	padding-top : 2%;
}




/*stylisation bouton*/
.bouton {
	float : right;
  	background-color: white;
  	border-radius: 10px; /*modification degrès angles*/
 	border: 2px solid black;
 	text-align: center;
  	font-size: 15px;
	padding: 1%;
  	width: 10%;
  	height: 10%;	
	margin-right : 10%;
}

/*stylisation texte du bouton*/
.bouton a{
	text-decoration: none;
	color : black;
}


/*stylisation bouton de changement de style*/
.bouton_style {
	float : right;
	margin-right : 8%;
	padding : 1%;
	background-color: white;
  	border-radius: 10px; /*modification degrès angles*/
 	border: 2px solid black;
 	text-align: center;
  	font-size: 15px;
  	width: 10%;
  	height: 10%;
}

.arrow {
    margin-top: 2%;
    padding-right:0px;
    animation: bounce 2s infinite;
    transform: translateX(-50%);
}

.texte {
    width: 80%;
    margin-top: 10%;
    font-size: 18px;
    @media (max-width: 600px) {
        font-size: 14px;
        padding-right: 10px;
      }
}

img[alt="flèche"] {
    width: 60%;
    margin-left: 60%;
    margin-top: 50%;
    animation: moveLeftToRight 0.5s ease-in-out infinite alternate; /* Applique l'animation */
}

img[alt="photo"] {
    width: 100%;
}

@keyframes bounce {
    0%, 100% {
        top: 90px; /* Position initiale */
    }
    50% {
        top: 80px; /* La flèche 'rebondit' vers le haut */
    }
}


@keyframes moveLeftToRight {
    from {
      transform: translateX(-10%); 
    }
    to {
      transform: translateX(0); 
    }
}

.ligne {
  display: flex; /* Assure que les éléments de la ligne sont sur la même ligne */
  align-items: baseline; /* Alignement sur la ligne de base pour une apparence uniforme */
}

.ligne b, .ligne span {
  margin-right: 20px; /* Espace entre le texte en gras et le reste de la phrase */
}