<div class="composant-profil" id="profil">
<div class="section1">
    <h1>A PROPOS DE MOI</h1>
<div class="bloc1">
    <div class="image">
        <img src="assets/portrait_cv.jpg" alt="photo" width="100%"/> <!--Insertion image-->
    </div>
    <div class="arrow">  <img src="assets/flèche.png" alt="flèche" width="100%"/></div>
    <div class="bloc2">
        <div class="conteneur">
            
Bonjour ! Je m'appelle Margot Goudard, 21 ans, et je suis passionnément engagée dans le monde du développement web. Actuellement en quatrième année à Polytech Montpellier, je suis à la recherche d'un stage de trois mois à partir de juin 2024, de préférence à Montpellier ou dans ses environs. Mon objectif est de rejoindre une équipe en tant que développeur web fullstack, où je pourrais non seulement apporter mes compétences, mais aussi apprendre et m'adapter à différentes technologies. Ce stage serait une étape clé pour moi, me permettant d'appliquer concrètement mes connaissances académiques dans un environnement professionnel tout en explorant de nouveaux horizons technologiques.
        </div>
    </div>
</div>
</div>

