<h1>PROJETS</h1>

<div class="timeline">
    <ul>
      <li>
        <div class="content"  >
          <h3>Développement d’un site web personnel</h3>
          <p>Technologies : Angular, HTML/SCSS/TypeScript</p>
        </div>
        <span class="duration">En cours</span>
      </li>
      <li>
        <div class="content"  >
          <h3>Développement d’une application mobile pour la gestion de bénévoles lors d’un festival</h3>
          <p>Technologie : Swift</p>
        </div>
        <span class="duration">En cours</span>
      </li>
      <a href="https://festival-jeu-mtp.netlify.app/" target="_blank">
      <li>
        <div class="content"  >
          <h3>Développement d’une application web pour la gestion de bénévoles lors d’un festival</h3>
          <p>Technologies : Angular, NodeJs, MySql</p>
        </div>
        <span class="duration">décembre-février 2024</span>
          <img src="assets/lien.png" alt="Lien" width="30px"/>
      </li>
    </a>
    <a href="https://goudard-margot.shinyapps.io/application/" target="_blank">
      <li>
        <div class="content"  >
          <h3>Projet Data Science</h3>
          <p>Traitement et Analyse de données sur les salaires des élèves ingénieurs de Polytech Montpellier en sortie d’école. <br> Développement d’une application Shiny : R</p>
        </div>
        <span class="duration">janvier 2024</span>
        <img src="assets/lien.png" alt="Lien" width="30px"/> <!-- Icône GitHub -->
      </li>
    </a>
      <li>
        <div class="content"  >
          <h3>Développement d’une plateforme d’échange et messagerie</h3>
          <p>Technologies : Java/JavaFX/MySql</p>
        </div>
        <span class="duration">décembre 2023</span>
      </li>
      <li>
        <div class="content"  >
          <h3>Développement d’une API pour gérer les équipements de sécurité des entreprises</h3>
          <p>Technologies : HTML/CSS/JavaScript</p>
        </div>
        <span class="duration">février-avril 2023</span>
      </li>
    </ul>
  </div>
  