<h1>COMPETENCES</h1>

<div>
    <h2>Environnements de Développement Intégré (IDE) et Éditeurs de Code</h2>
    <ul>
        <li>VSCode, IntelliJ IDEA, Eclipse</li>
    </ul>
</div>

<div>
    <h2>Langages de Programmation</h2>
    <ul>
        <li>HTML, CSS, JavaFx, JavaScript, TypeScript, C/C++, Swift, Python, NodeJS, Java</li>
    </ul>
</div>

<div>
    <h2>Bases de Données</h2>
    <ul>
        <li>MySQL, Oracle, MongoDB, NoSQL</li>
    </ul>
</div>

<div>
    <h2>Outils et Frameworks</h2>
    <ul>
        <li>R, MatLab, Angular, JUnit, Postman</li>
    </ul>
</div>

<div>
    <h2>Systèmes d'Exploitation</h2>
    <ul>
        <li>Windows, Linux</li>
    </ul>
</div>

<div>
    <h2>Gestion de Versions</h2>
    <ul>
        <li>GitHub</li>
    </ul>
</div>
<div>
    <h2>Compétences Transversales</h2>
    <ul>
        <li>Adaptabilité, Esprit d’équipe, Rigoureuse, Organisée, Autonome, Communication</li>
    </ul>
</div>
