<h1>COMPETENCES</h1>
<div>
    <h2>Environnements de Développement Intégré (IDE) et Éditeurs de Code</h2>
    <ul>
        <li>VSCode</li>
        <li>IntelliJ IDEA</li>
        <li>Eclipse</li>
    </ul>
</div>

<div>
    <h2>Langages de Programmation</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaFx</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>C/C++</li>
        <li>Swift</li>
        <li>Python</li>
        <li>NodeJS</li>
        <li>Java</li>
    </ul>
</div>

<div>
    <h2>Bases de Données</h2>
    <ul>
        <li>MySQL</li>
        <li>Oracle</li>
        <li>MongoDB</li>
        <li>NoSQL</li>
    </ul>
</div>

<div>
    <h2>Outils et Frameworks</h2>
    <ul>
        <li>R</li>
        <li>MatLab</li>
        <li>Angular</li>
        <li>JUnit</li>
        <li>Postman</li>
    </ul>
</div>

<div>
    <h2>Systèmes d'Exploitation</h2>
    <ul>
        <li>Windows</li>
        <li>Linux</li>
    </ul>
</div>

<div>
    <h2>Gestion de Versions</h2>
    <ul>
        <li>GitHub</li>
    </ul>
</div>

<div>
    <h2>Compétences Transversales</h2>
    <ul>
        <li>Adaptabilité</li>
        <li>Esprit d’équipe</li>
        <li>Rigoureuse</li>
        <li>Organisée</li>
        <li>Autonome</li>
        <li>Communication</li>
    </ul>
</div>

<div>
    <h2>Langues</h2>
    <ul>
        <li>Anglais : B2 - Cambridge Certificate</li>
        <li>Espagnol : A2</li>
    </ul>
</div>

