h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    padding-top: 5%;
}
h2 {
    text-align: center;
    background-color: #b0a092;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    margin: 0;
}
div {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
li:last-child {
    border-bottom: none;
}