<div class="section2">
    <h1>ETUDES</h1>
    <div class="cercles-container">
    <div class="montpellier">
        <b>4ème Année <br>  Ecole d'ingénieurs <br> Informatique et Gestion </b> <br> 
        Ecole Polytechnique Universitaire <br> Universitaire Montpellier <br>
        2023-2024
    </div>    
    <div class="ecole">
        <b> 3ème Année <br>  Ecole d'ingénieurs <br> Informatique </b> <br>
        Ecole Polytechnique <br> Universitaire Marseile <br>
        2022-2023
    </div>
    <div class="peip">
        <b>Prépa PEIP STI </b><br> 
            Ecole Polytechnique  <br> Universitaire Montpellier <br>
            2020-2022 <br>
            </div>
    <div class="lycée">
        <b>Bac S Spécialité <br> Mathématiques </b> <br>
            Lycée Paul Valéry Sète <br>
            2020 
    </div>
</div> 	
</div>

