/*stylisation section2*/
.section2{
	background-color : #b0a092 ;
	width : 100%;
	height : 100vh;
}


/*stylisation titre1*/
.section2 h1{
    margin-left: 3%;
}


/*stylisation titre2*/
.section2 h2{
	margin-left : 2%;
	margin-top : 3%;
}

/*stylisation titre3*/
.section2 h3{
	margin-left : 2%;
	margin-top : 3%;
}

.cercles-container {
    display: flex; /* Active Flexbox */
    justify-content: center;
    align-items: center; /* Optionnel: aligne les éléments verticalement au centre, si leurs hauteurs diffèrent */
    margin-top: 5%
}

.montpellier, .ecole, .peip, .lycée {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25vw;
    width: 25vw;
    clip-path: circle(40%);
    background-color: white;
    filter: opacity(80%) brightness(90%);
    box-sizing: border-box;
}


/* Assurez-vous que la taille du cercle s'adapte bien à différents écrans */
@media (max-width: 600px) {
    .montpellier, .ecole, .peip, .lycée {
        height: 50vw; /* Augmente la taille sur les petits écrans pour garder le cercle visible */
        width: 50vw;
    }
}



img[alt="etude"] {
    width: 5%;
    padding-top: 2%;
    padding-left: 1%;
    animation: moveUpDown 0.5s ease-in-out infinite alternate; /* Applique l'animation */
}
