<div class="section2">
    <div id="education">
    <h1>ETUDES  <img src="assets/iconetude.png" alt="etude"/></h1> <!--titre avec image-->
    <div class="cercles-container">
    <div class="montpellier">
        <b>4ème Année <br>  Ecole d'ingénieurs Informatique et Gestion </b> <br> 
        Ecole Polytechnique Universitaire <br> Montpellier <br>
        2023-2024
    </div>    
    <div class="ecole">
        <b> 3ème Annéee <br>  Ecole d'ingénieurs Informatique </b> <br>
        Ecole Polytechnique Universitaire <br> Marseile <br>
        2022-2023
    </div>
    <div class="peip">
        <b>Prépa PEIP STI </b><br> 
            Ecole Polytechnique Universitaire <br> Montpellier <br>
            2020-2022 <br>
            </div>
    <div class="lycée">
        <b>Bac S Spécialité Mathématiques </b> <br>
            Mention Bien <br>
            Lycée Paul Valéry Sète <br>
            2020 
    </div>
</div> 	
</div>
</div> <!-- Fin section4-->
