.section2{
	background-color : #b0a092 ;
	width : 100%;
	height : 100vh;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    padding-top: 5%;
  }

.cercles-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    @media (max-width: 600px) {
        margin-top: 0%;
    }
}

.montpellier, .ecole, .peip, .lycée {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
    height: 23vw;
    width: 23vw;
    clip-path: circle(40%);
    background-color: white;
    filter: opacity(80%) brightness(90%);
    box-sizing: border-box;
    @media (max-width: 600px) {
        clip-path: circle(40%);
        font-size: 12px;
    }
}


/* Assurez-vous que la taille du cercle s'adapte bien à différents écrans */
@media (max-width: 600px) {
    .montpellier, .ecole, .peip, .lycée {
        height: 50vw; /* Augmente la taille sur les petits écrans pour garder le cercle visible */
        width: 50vw;
    }
}



img[alt="etude"] {
    width: 5%;
    padding-top: 2%;
    padding-left: 1%;
    animation: moveUpDown 0.5s ease-in-out infinite alternate;
    @media (max-width: 600px) {
        width: 4%;
    }
}
