
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }


@font-face {
    font-family: 'Maharlika-Regular';
    src: url('/fonts/Maharlika-Regular.ttf') format('truetype'); /* Older browsers */
    font-weight: normal;
    font-style: normal;
}

