<div class="container">
    <div class="content">
        <div class="bienvenue">
            BIENVENUE
        </div>
        <div class="texte">
            <b>Sur ce site, vous pouvez retrouver mon CV complet avec mon profil, mes expériences professionnelles ainsi que mes projets !</b>
            Bonne lecture ! 
        </div>
    </div>
    <footer>
        <div class="contacts">
            CONTACT : <img src="assets/mail.png" alt="Email" width="5%"/>  goudard.margot&#64;hotmail.com  <img src="assets/iconetel.png" alt="Téléphone" width="3%"/>  07.86.65.63.63
        </div>
    </footer>
</div>
