<div class="container">
    <div class="content">
        <div class="bienvenue">
            BIENVENUE
        </div>
        <div class="texte">
            <b>Sur cet espace professionnel, vous aurez l'occasion de consulter mon CV détaillé, incluant un aperçu de mon profil, un historique de mes expériences professionnelles, ainsi que la présentation de mes projets significatifs !</b>
        </div>
    </div>
    <div class="footer">
        <div class="click">
            Cliquez ici ! 
        </div>
        <div class="fleches">
            <img src="assets/fleches.png" alt="photo">
        </div>
    </div>
</div>
